* {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

#Header, #Footer {
    text-align: center;
    padding: 10px 0 0 0;
}

.line {
    border-bottom: 1px solid black;
    width: 1400px;

    display: inline-block;
}

.contactLine {
    border-bottom: 1px solid black;
    width: 1300px;

    display: inline-block;
}

.block {
    height: 200px;
    width: 192px;

    display: inline-block;

    margin: 3em 10em 3em 9em;

    background-color: #ece76f;
    border: 1px solid black;
}

#imgBLock1 {
    margin-left: 10em;

    position: relative;
    ;left: 67px;
}

#imgBLock3 {
    margin-right: 8em;

    position: relative;
    right: 5px;
}

#imgBLock2 {
    margin-right: 8em;
    margin-left: 8em;

    position: relative;
    left: 23px;
    bottom: 15px;
}

img {
    height: 100%;
    width: 100%;
}

.infoLine {
    border-bottom: 1px solid black;
    width: 1000px;

    display: inline-block;

    position: relative;
    right: 100px;

    margin-top: 1em;
    margin-bottom: 1em;
}

.informationBlock {
    text-align: center;

    width: 800px;

    position: relative;
    left: 365px;

}