* {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

#Header, #Footer {
    text-align: center;
    padding: 10px 0 0 0;
}

.line {
    border-bottom: 1px solid black;
    width: 1400px;

    display: inline-block;

    margin-top: 0.5em;
}


.contactLine {
    border-bottom: 1px solid black;
    width: 1300px;

    display: inline-block;

    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.block {
    height: 200px;
    width: 192px;

    display: inline-block;

    margin: 3em 10em 3em 9em;

    /*background-color: #ece76f;*/
    border: 1px solid black;
    border-radius: 3px;

    box-shadow: 7px 5px 0 slategray;
}

.block:hover {
    cursor: pointer;
}

#imgC\+\+ {
    margin-left: 10em;

    position: relative;
    ;left: 67px;
}

#imgPython {
    margin-right: 8em;

    position: relative;
    right: 5px;
}

#imgJS {
    margin-right: 8em;
    margin-left: 8em;

    position: relative;
    left: 23px;
    bottom: 15px;
}

img {
    height: 100%;
    width: 100%;
}

/*.pythonImg {*/
/*    position: relative;*/
/*    left: 2px;*/
/*    top: 3px;*/

/*    z-index: 0;*/
/*}*/

.informationBlock {
    text-align: center;

    width: 750px;

    position: relative;
    left: 385px;

}

.infoLine {
    border-bottom: 1px solid black;
    width: 1000px;

    display: inline-block;

    position: relative;
    right: 120px;

    margin-top: 0.5em;
    margin-bottom: 1em;
}


#Footer {
    position: relative;
    top: 4em;
}

.contactBlock {
    display: inline-block;

    margin-right: 5em;
    margin-left: 5em;
}

#email {
    position: relative;
    right: 125px;
}

#phone {
    position: relative;
    right: 35px;
}

#telegram {
    position: relative;
    left: 125px;
}
